services:
  - type: web
    name: tesla-proximity-chat-backend
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: node server/index.js
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_CLIENT_URL
        value: https://tesla-proximity-chat-a6ih.vercel.app
